@use 'type';

.home {
  @include bodyType;
  display: flex;
  flex-grow: 1;

  &__container {
    box-sizing: border-box;
    width: 100%;
    padding: 10rem 2rem;
    display: flex;

    @media screen and (max-width: 768px) {
      padding: 20rem 3.2rem 10rem;
    }

    @media screen and (max-width: 430px) {
      padding: 30rem 3.2rem 10rem;
    }
  }

  &__grid {
    flex: 0 0 70%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media screen and (max-width: 768px) {
      gap: 6rem;
    }

    @media screen and (max-width: 430px) {
      flex: 1;

      gap: 2rem;
    }

    &--row {
      width: 100%;
      height: 100%;
      max-height: 7vw;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      @media screen and (max-width: 430px) {
        max-height: none;
        height: 48vw;
        gap: 20vw;
      }

      &__item {
        aspect-ratio: 1/1;
        height: 4vw;
        max-height: 6vw;

        @media screen and (max-width: 768px) {
          height: 6vw;
        }

        @media screen and (max-width: 430px) {
          max-height: 50vw;
          height: 30vw;
        }

        &--img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          opacity: 0;
          cursor: pointer;
        }
      }

      &:nth-child(5n + 1) {
        .home__grid--row__item {
          &:nth-child(1) {
            margin-left: 0rem;
            @media screen and (max-width: 430px) {
              margin-left: 0rem;
            }
          }

          &:nth-child(2) {
            margin-left: 30rem;
            @media screen and (max-width: 430px) {
              margin-left: 0rem;
            }
          }
        }
      }

      &:nth-child(5n + 2) {
        .home__grid--row__item {
          &:nth-child(1) {
            margin-left: 10rem;
            @media screen and (max-width: 430px) {
              margin-left: 0rem;
            }
          }

          &:nth-child(2) {
            margin-left: 50rem;
            @media screen and (max-width: 430px) {
              margin-left: 0rem;
            }
          }
        }
      }

      &:nth-child(5n + 3) {
        .home__grid--row__item {
          &:nth-child(1) {
            margin-left: 10rem;
            @media screen and (max-width: 430px) {
              margin-left: 0rem;
            }
          }

          &:nth-child(2) {
            margin-left: 30rem;
            @media screen and (max-width: 430px) {
              margin-left: 0rem;
            }
          }
        }
      }

      &:nth-child(5n + 4) {
        .home__grid--row__item {
          &:nth-child(1) {
            margin-left: 5rem;
            @media screen and (max-width: 430px) {
              margin-left: 0rem;
            }
          }

          &:nth-child(2) {
            margin-left: 20rem;
            @media screen and (max-width: 430px) {
              margin-left: 0rem;
            }
          }
        }
      }

      &:nth-child(5n + 5) {
        .home__grid--row__item {
          &:nth-child(1) {
            margin-left: 15rem;
            @media screen and (max-width: 430px) {
              margin-left: 0rem;
            }
          }

          &:nth-child(2) {
            margin-left: 0rem;
            @media screen and (max-width: 430px) {
              margin-left: 0rem;
            }
          }
        }
      }
    }
  }

  &__display {
    flex: 0 0 30%;
    position: relative;
    width: 30%;
    height: 100%;
    display: block;

    @media screen and (max-width: 430px) {
      display: none;
    }

    &--item {
      aspect-ratio: 1/1;
      width: 100%;
      position: sticky;
      top: 10rem;

      @media screen and (max-width: 768px) {
        top: 20rem;
      }
    }

    &--link {
      margin-top: 2rem;
      display: block;
      height: auto;

      a {
        height: auto;
        width: 100%;
        display: block;
      }
    }
  }
}
