@use 'type';

.home {
  position: relative;
  @include bodyType;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__display {
    position: fixed;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    cursor: zoom-out;
    top: 0;
    z-index: 10;
  }

  &__container {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 0 8rem;
    padding-bottom: 20vw;
    padding-top: 15.2rem;

    // @media screen and (max-width: 768px) {
    //   padding: 20rem 8rem 10rem;
    // }
    //
    @media screen and (max-width: 430px) {
      padding-top: 45rem;
    }
  }

  &__grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 10vw);
    gap: calc((100vw - 16rem - 50vw) / 4);
    position: relative;

    @media screen and (max-width: 430px) {
      grid-template-columns: repeat(1, 100%);
      gap: calc((100vw - 16rem - 50vw) / 4);
    }

    &--item {
      width: 100%;
      aspect-ratio: 1/1;
      display: flex;
      align-items: start;
      // background-color: green;

      &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        opacity: 0;
        cursor: pointer;
      }
    }
  }

  &__map {
    position: relative;
    height: 100%;
    width: 100%;

    &--item {
      position: absolute;
      height: 10vw;
      width: 10vw;
    }
  }
}
