.home {
  @include bodyType;
  display: flex;
  flex-grow: 1;

  &__container {
    box-sizing: border-box;
    width: 100%;
    padding: 10rem 3.2rem;
    display: flex;
  }

  &__grid {
    flex: 0 0 70%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &--row {
      width: 100%;
      height: 100%;
      max-height: 7vw;
      display: flex;
      flex-direction: row;
      gap: .5rem;

      &__item {
        aspect-ratio: 1/1;
        height: 4vw;
        max-height: 7vw;

        &--img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          opacity: 0;
          cursor: pointer;
        }
      }

      &:nth-child(5n + 1) {
        .home__grid--row__item {
          &:nth-child(1) {
            margin-left: 0rem;
          }

          &:nth-child(2) {
            margin-left: 30rem;
          }
        }
      }

      &:nth-child(5n + 2) {
        .home__grid--row__item {
          &:nth-child(1) {
            margin-left: 10rem;
          }

          &:nth-child(2) {
            margin-left: 50rem;
          }
        }
      }

      &:nth-child(5n + 3) {
        .home__grid--row__item {
          &:nth-child(1) {
            margin-left: 10rem;
          }

          &:nth-child(2) {
            margin-left: 30rem;
          }
        }
      }

      &:nth-child(5n + 4) {
        .home__grid--row__item {
          &:nth-child(1) {
            margin-left: 5rem;
          }

          &:nth-child(2) {
            margin-left: 20rem;
          }
        }
      }

      &:nth-child(5n + 5) {
        .home__grid--row__item {
          &:nth-child(1) {
            margin-left: 15rem;
          }

          &:nth-child(2) {
            margin-left: 0rem;
          }
        }
      }
    }
  }

  &__display {
    flex: 0 0 30%;

    &--item {
      width: 100%;
      aspect-ratio: 1/1;
    }
  }
}