@use 'type';

.info {
  @include bodyType;
  display: flex;
  flex-grow: 1;
  position: relative;

  &__container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
    padding-bottom: 20vw;
    padding-top: 15.2rem;

    @media screen and (max-width: 430px) {
      padding-top: 45rem;
    }

    &--item {
      flex: 0 0 40%;
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @media screen and (max-width: 430px) {
        flex: 1;
        gap: 20rem;
      }
    }
  }

  &__image {
    max-height: 10vw;
    max-width: 10vw;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      mix-blend-mode: difference;
    }
  }

  &__large {
    @include displayType;
  }
}
