@font-face {
  font-family: 'Fraktion Mono';
  src: url('/fonts/PPFraktionMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fraktion';
  src: url('/fonts/PPFraktionSans-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  src: url('/fonts/iosevka-ss18-regular.ttc');
}

@font-face {
  font-family: 'FG';
  src: url('/fonts/fg.otf');
}

@mixin displayType {
  font-family: 'FG', Arial, Helvetica, sans-serif;
  font-size: 12.5rem;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0.025rem;

  @media screen and (max-width: 768px) {
    font-size: 50rem;
  }
}

@mixin bodyType {
  font-family: 'Fraktion Mono';
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;

  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }

  @media screen and (max-width: 430px) {
    font-size: 7rem;
  }
}
