@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVariableVF.woff2') format('woff2');
}

@font-face {
  font-family: 'PP Neue Montreal Medium';
  src: url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2');
}

@mixin bodyType {
  font-family: 'PP Neue Montreal Medium';
  // leading-trim: both;
  // text-edge: cap;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  // text-transform: uppercase;
  // letter-spacing: .1em;
}

// @mixin bodyType {
//   font-family: Geist Mono;
//   // leading-trim: both;
//   // text-edge: cap;
//   font-size: 1.6rem;
//   font-style: normal;
//   font-weight: 500;
//   line-height: 2rem;
//   text-transform: uppercase;
//   letter-spacing: .1em;
// }