$defaultPadding: 1.6rem;

$white: #fff;
$dark: #151515;
$fire: #f65f28;
$main-text: #fff;
$gray: #767d7f;
// $main-text: #151515;
// $main-background: #f4f6f5;
$main-background: #000;
$main-col-width: calc(100vw / 12 + 3.2rem);
